<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->
        
        
        	<bean id="myCoach"
				class="maxmsi.springdemo.BassebalCoach">
				
				<!-- set up the constrctor injection -->
				<constructor-arg ref="myFortune" />
			</bean>
			
			
			<bean id="myTrackCoach"
				class="maxmsi.springdemo.TrackCoach">
				
				<!-- set up the constrctor injection -->
				<constructor-arg ref="myFortune" />
			</bean>
			
			
			<bean id="myFortune"
				class="maxmsi.springdemo.HappyFortuneService">
			</bean>
			
			
			<bean id="myCricketCoach"
				class="maxmsi.springdemo.CricketCoach">
				
				<!-- set up setter injection -->
				<property name="fortuneService" ref="myFortune"/>
			</bean>
			

				

</beans>

